[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Spenser Kuroda
	email = 31316329+spenserkuroda@users.noreply.github.com
